{% extends 'base.html' %}
{% load static %}
{% block head %}

<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<style>
    body{
        background-color: #242326 !important;
    }
    footer{
        display: none;
    }

    @font-face {
        font-family: UnityFont;
        src: url("{% static 'heroFont.ttf' %}") format("truetype");
    }

    /* Animation styling */

    .athleteHeading {
        font-family: "UnityFont", sans-serif;
        font-style: normal;
        animation-timeline: scroll();
        animation-duration: 1ms;
        animation-name: scaleDown;
        animation-timing-function: ease-in-out;
        color: #ffffff;
        background-image: -webkit-linear-gradient(45deg, #ffffff 21%, #9c9599 50%, #242326 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .athleteImg {
        animation-timeline: scroll();
        animation-duration: 1ms;
        animation-name: goRightAndShrink;
        animation-timing-function: ease-in-out;
    }

    .athleteInfo {
        animation-timeline: scroll();
        animation-duration: 1ms;
        animation-name: scaleUp;
        animation-timing-function: ease-in-out;
    }

    .athleteVitals {
        animation-timeline: scroll();
        animation-duration: 1ms;
        animation-name: goRight;
        animation-timing-function: ease-in-out;
    }

    @keyframes goRight {
        0% {
            transform: translateX(120%)
        }

        100% {
            transform: translateX(0%)
        }
    }

    @keyframes scaleUp {
        0% {
            /* move the element 25% to the left and scale it down to 50% */
            transform: translateX(-25%) scale(0.5) translateY(-50%);
        }

        100% {
            margin-top: 13vw;
            transform: translateX(0) scale(1);
        }
    }

    @keyframes scaleDown {
        0% {
            /* move the element 25% to the left and scale it down to 50% */
            transform: translateX(0) scale(1);
        }

        100% {
            transform: translateX(-15%) scale(0.7) translateY(-25%);
        }
    }

    @keyframes goRightAndShrink {
        0% {
            /* color animations */
            filter: grayscale(50%);
            transform: translateX(0) scale(1);
        }

        100% {
            filter: grayscale(0%);
            transform: translateX(7%) scale(0.8) translateY(10%);
            margin-top: -116vh;
        }
    }
</style>
{% endblock head %}

{% block content %}

<div class="grid sm:flex sm:h-lvh max-sm:flex-row-reverse fixed">
    <div style="background: radial-gradient(#00000000, #000000);" class="basis-5/6 max-sm:basis-1 grid gap-4 h-10 h-svh bg-[#1A1A1A] max-w-[82vw]">
        <h1 class="sm:text-[10vw] athleteHeading" style="text-align: center;
        font-size: 15vw;
        line-height: 18vw;
        margin-bottom: -72vh;
        margin-top: 5vh;">{{ athlete_data.name }}</h1>
        <div class="athleteVitals relative mt-[-5vh] rounded-lg w-[10vw] ml-[62vw] text-white">
            <table class="w-[10vw] text-sm text-left rtl:text-right">
                <thead class="text-xs uppercase">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Information
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                            Height: {{ athlete_data.height }} cm
                        </th>
                    </tr>
                    <tr class="border-b">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                            Weight: {{ athlete_data.weight }} kg
                        </th>
                    </tr>
                    <tr class="border-b">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrape">
                            Age: {{ athlete_data.age }} years
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" h-[72vh] mt-[82vh] bg-white athleteInfo">
            <div class="grid grid-cols-2" style="background: radial-gradient(#000000, #000000d4);">
                <div class="relative overflow-x-auto mt-[20px] rounded-lg w-[40vw] ml-[10px]">
                    <p style="font-weight: 400; z-index: 101; color: #ffffff !important;" class="text-justify my-auto block w-[28vw] text-sm text-left rtl:text-right">{{ athlete_data.history }}</p>
                </div>
            </div>
        </div>
        <img class="athleteImg sm:ml-[16vw] mt-[-175vh] static" src="{{ athlete_data.without_bg.url }}" alt=""
            style="z-index: 10;">
    </div>
    <div style=" color: #ffffff !important; background: linear-gradient(343deg, #1e1e1e, #000000); z-index: 100;" class="basis-2/6 max-sm:basis-1 p-4 h-svh">
        <center>
            <p style="font-weight: 800;font-size: 52px;">INDIA</p>
        </center>
        <center><img
                src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1280px-Flag_of_India.svg.png"
                class="object-cover countryImg w-[200px] rounded-lg"></center>
        
        <div class="grid grid-rows-2 grid-cols-2 gap-4">
            <div class="flex flex-col items-center justify-center">
                <div class="grid grid-rows-2 grid-cols-2 gap-4 h-[400px]" style="background: rgb(213, 182, 2);
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;">
                </div>
                <span class="text-center m-[-65px]" style="font-size: 40px">{{ athlete_data.gold_medals }}</span>
            </div>
            <div class="flex flex-col items-center justify-center">
                <div class="grid grid-rows-2 grid-cols-2 gap-4 h-[400px]" style="background: silver;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;">
                </div>
                <span class="text-center m-[-65px]" style="font-size: 40px">{{ athlete_data.silver_medals }}</</span>
            </div>
            <div class="flex col-span-2 flex-col m-[50px] items-center justify-center ">
                <div class="grid grid-rows-2 grid-cols-2 gap-4 h-[400px]" style="background: #Cd7f32;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;">
                </div>
                <span class="text-center m-[-65px]" style="font-size: 40px">{{ athlete_data.bronze_medals }}</</span>
            </div>
        </div>

    </div>

</div>


<script>
    const issues = [];

    function checkScrollingAncestor(elem) {
        if (!elem.parentElement || elem.parentElement.tagName.toLowerCase() === 'body') {
            return false;
        }

        const computedStyle = window.getComputedStyle(elem.parentElement);

        if (computedStyle.overflowX == 'auto') {
            return true;
        } else {
            return checkScrollingAncestor(elem.parentElement);
        }
    }

    function getSizedAncestor(elem) {
        if (!elem.parentElement) {
            return null;
        }

        if (elem.parentElement.offsetWidth > 0) {
            return elem.parentElement;
        } else {
            return getSizedAncestor(elem.parentElement);
        }
    }

    function checkElement(el) {
        const hasScrollingAncestor = checkScrollingAncestor(el);
        if (hasScrollingAncestor) {
            return;
        }

        const isHidden = (el.offsetParent === null);
        if (isHidden) {
            return;
        }

        // Find elements that overflow the document width
        if (el.offsetWidth > document.documentElement.offsetWidth) {
            issues.push(el);
        }

        const ancestor = getSizedAncestor(el);
        const info = window.getComputedStyle(el);

        // Find any negative margins (deliberate outflow)
        const adjustment =
            (info.marginLeft.startsWith('-') ? parseFloat(info.marginLeft) * -1 : 0)
            +
            (info.marginRight.startsWith('-') ? parseFloat(info.marginRight) * -1 : 0);

        if (ancestor && (el.offsetWidth - adjustment) > ancestor.offsetWidth) {
            if (el.style.fontSize == '25vw') {
                el.style.fontSize = '20vw'
            }
            issues.push(el);
        }
    }

    document.querySelectorAll('*').forEach(checkElement);

    issues.length > 0 && issues[0].scrollIntoView();
    console.log(issues);

</script>
{% endblock content %}