{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/parlx.js@2.0.4/lib/parlx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

    <style>
        .gilda {
            font-family: "Gilda Display", serif;
            font-weight: 700;
            color: rgba(256, 256, 256, 0.8);
            font-style: bold;
            font-size: 17vw;
            position: absolute;
            text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 500px rgba(0, 0, 0, 1), 0px 0px 5px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0);
        }

        .caveat {
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-style: normal;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" link="{% static 'node_modules/atropos/atropos.min.css' %}">

{% endblock %}

{% block title %}Olympics{% endblock %}

{% block content %}

    <div class="flex flex-col mt-2">
        <div style="height: 350vh;">
            <div id="scrolly-video"></div>
        </div>
        <div class="mt-10"
             style="background-image: url({% static '666488b8db21a7.29284501.webp' %}); background-attachment: fixed; min-height: 75vh; background-position: center; background-repeat:no-repeat; background-size:cover;">
            <h1 class="caveat text-[15rem] text-white text-center top-1/2 left-1/2">
                Paris 2024
            </h1>
            <h3 class="caveat text-white text-5xl text-center">
                Citius-Altius-Fortius
            </h3>
            <h1 class="caveat text-8xl text-white text-center mt-10">
                The Story Begins...
            </h1>
        </div>
        <div class="flex flex-col align-center justify-center w-full mt-5">
            <div class="flex flex-row mx-7 mt-10 w-full">
                <div class="atropos my-atropos w-full">
                    <!-- scale container (required) -->
                    <div class="atropos-scale w-full">
                        <!-- rotate container (required) -->
                        <div class="atropos-rotate w-full">
                            <!-- inner container (required) -->
                            <div class="atropos-inner w-full">
                                <img src="{% static 'flame.jpg' %}" data-apropos-offset="10" class="rounded-lg -h">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ml-5">
                    <h1 class="caveat text-white text-6xl">
                        The Olympic Flame
                    </h1>
                    <p class="text-white mt-3 text-xl">
                        The Olympic flame for the 2024 Paris Games was lit on April 16, 2024, during a ceremonial event
                        held at the ancient site of Olympia, Greece, a tradition that dates back to the inception of the
                        modern Olympics. The flame symbolizes peace, unity, and the enduring spirit of the Games. It was
                        ignited using the sun's rays, concentrated with a parabolic mirror by an actress portraying the
                        high priestess. This ritual, rooted in ancient Greek traditions, reflects the connection between
                        the ancient and modern Games.
                        <br><br>
                        Following the lighting, the flame embarked on a journey, starting with an 11-day relay through
                        Greece before being handed over to the Paris 2024 organizing committee in Athens. It will arrive
                        in France on May 8, after which it will be carried across the country, culminating in its
                        arrival at the Olympic Stadium in Paris for the opening ceremony on July 26. The flame’s journey
                        through France is part of a broader effort to celebrate the Games' values of inclusivity,
                        sustainability, and peace.
                    </p>
                </div>
            </div>
        </div>


        {#        <div class="flex flex-col align-center justify-center w-full mt-5">#}
        {#            <h1 class="caveat text-[15rem] text-white text-center">#}
        {#                Paris 2024#}
        {#            </h1>#}
        {#            <img src="{% static 'rings.svg' %}" class="w-3/4 self-center">#}
        {#        </div>#}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/scrolly-video@latest/dist/scrolly-video.js"></script>
    <script src="{% static 'node_modules/atropos/atropos.min.js' %}"></script>
    <script type="text/javascript">
        new ScrollyVideo({
            scrollyVideoContainer: "scrolly-video",
            src: "{% static 'header.mp4' %}",
            useWebCodecs: true
        });

        // Initialize
        const myAtropos = Atropos({
            el: '.my-atropos',
            // rest of parameters
        });
    </script>

{% endblock %}